.edit_form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin: auto;

    @include sm {width: 480px;}
    @include md {
        width: 769px;
        display: grid;
        grid-template-areas: 
        "left1 img"
        "left2 img"
        "btn btn"
        ;
    }
    @include lg {width: 1025px;}

    &__left {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        margin: auto;
        width: 100%;
        // grid-area: left;
    }

    &__h1 {
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }

    &__book_cover_wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        @include md {
            grid-area: img;
        }
    }

    &__image {
        height: 300px;
        object-fit: contain;
    }

    &__input_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        font-weight: 700;
        background: none;
        @include md {flex-direction: row};
    }

    &__label {
        font-size: 16px;
        width: 90%;
        @include md {width: 150px};
    }

    &__input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $border-color;
        display: block;
        width: 90%;
        @include md {width: 100%;};

    }

    &__btn {
        border-radius: 8px;
        border: 1px solid black;
        background: white;
        color: black;
        padding: 10px;
        font-size: 14px;
        margin: 5px auto;
        width: 200px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;

        &:hover {
            background: #EEE;
            cursor: pointer;
        }

        &--submit {
            background: black;
            color: white;

            &:hover {
                background: #333;
            }
        }
    }

    &__rating {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    &__stars {
        padding: 10px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        @include md {
            justify-content: start;
        }
    }

    &__btns {
        grid-area: btn;
        width: 100%;
        display: flex;
        flex-direction: column;
        @include md {
            flex-direction: row;
        }
        margin-bottom: 20px;
    }

}
