.search_bar {
    width: 100%;
    display: flex;
    border-bottom: 1px solid $border-color;
    &__input {
        padding-left: 20px;
        display: block;
        width: 100%;
        border: none;
    }
    
    @include md {display: none;}
}

.library {
    margin: auto;

    &__title {
        width: 100%;
        text-align: center;
    }

    @include sm {width: 480px;}
    @include md {width: 769px;}
    @include lg {width: 1025px;}

    &__grid {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include sm {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 50px;
        }
    }

}

.card {
    height: 350px;
    overflow: hidden;

    &__image {
        height: 75%;
    }

    &__title {
        font-weight: 700;
    }
}