.details {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 2rem;
        padding: 20px;
    }

    &__image {
        width: 60%;
    }

    &__author {
        font-size: 1.6rem;
        padding: 15px;
    }

    &__rating {
    }

    &__stars {
    }

    &__published {
    }

    &__summary {
        margin: $page-margin;
        text-align: justify;
        padding: 20px 0;
    }
}
