

.hero {

    background-image: url("/src/SCSS/assets/images/library_door.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    // color: white;

    &__text {
        position: relative;
        margin: $page-margin;
        bottom: -170px;
    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        background: white;
    }

    &__description {
        font-size: 20px;
        font-weight: 700;
        background: white;
        margin-top: 20px
    }

}

.main {
    padding-bottom: 20px;
    text-align: center;
    margin: $page-margin;

    &__link {
        text-decoration: none;
        border: 1px solid $border-color;
        border-radius: 5px;
        padding: 6px 10px;
        color: $text-color;
        margin: 4px 0;

        &--solid {
            background: black;
            color:white;
            border: none;
        }
    }

    &__p {
        text-align: justify;
    }
}