$screen-sm-min: 480px;
$screen-md-min: 769px;
$screen-lg-min: 1025px;
$screen-xl-min: 1201px;

$background-color: #FFF;
$text-color: #000;
$border-color: #999;
$page-margin: 0 10px;
$footer-height: 3rem;